# Terraform
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.*
*.tfplan
.terraform.tfstate.lock.info

# Variable / sensitive files
*.tfvars
*.tfvars.json
backend.tf
*/backend.tf
secrets/
var.sh

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Crash logs
crash.log
crash.*.log

# Logs / temp
*.log
*.tmp
*.backup

# Credentials / keys
*.pem
*.key

# Binaries
bin/
*/bin/
kubelogin*

# IDE / OS
.vscode/
.idea/
.DS_Store
thumbs.db
.terraformrc
terraform.rc

# Keep Terraform code
!*.tf